.animallist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgba(23,5, 58, 0.8);
    padding: 2rem;

    .inputContainer {
        display: flex;
        
    }
    
    .input {
        color:black;
        display: inline-block;
        font-size: 1rem;
        text-align: center;
        height: 2rem;
        width: 20vw;
        margin: 1rem;
        border: 1px solid pink;
        border-radius: 15px;
        background-color:white;
    }
}